<% User.all.each do |user| %>
<% if session[:name] == user.name  %>
  <% @id=user.id %>
<% end %>
<% end %>
<% if @post.user_id == @id %>
  <form action="/delcom/<%= comment_id %>" method="post">
    <input type="hidden" name="_method" value="delete" /> 
    <input type="submit" value="Delete Comment" />
  </form>
<% end %>