<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<%if post_show_page? %>
  <%= delete_post_button(@post.id) %>
<% end %>
<div class="msg">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">                
          <form action="/comment" method="post">
            <textarea id="comm_title" class="form-control counted" name="comm[title]" placeholder="Title" rows="1"></textarea>
            <textarea id="comm_body" class="form-control counted" name="comm[body]" placeholder="Your comment" rows="5"></textarea>
            <button class="btn btn-info" type="submit">Add new comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

